/* 

Variabel for color and background 

*/

/* Footer */
$arsenic: #38394D;
$arsenic-sm: #5E5D6C;

/* Search bar */
$anti-white: #F0EFF4;
$white: #F9F9F9;

/* Active menu */
$pumpkin: #FE742E;

/* Non active menu */
$azure: #0F72EB;

/* Text and border */
$gray: #727486;